<p>Too many books on your to-read shelf? Paralyzed by indecision? Fill in this form and you'll recieve a selection of random books from your to-read shelf delivered right to your email.<p>
<p>Your goodreads id is the numbers in the url of your goodreads profile. Ex: www.goodreads.com/user/show/<strong>XXXXXX</strong>-name.</p>
<p>I'll never spam you or give away your email.<p>

<%= form_for @request do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
     <h2><%= pluralize(@request.errors.count, "error") %> prohibited this feedback from being saved:</h2>
     <ul>
     <% @request.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
     </ul>
   </div>
 <% end %>

  <div class="field">
    <%= f.label :id, 'Goodreads id', class: "field_label" %>
    <%= f.text_field :id, value: "#{@id}" %>
  </div>
  <div class="field">
    <%= f.label :email, class: "field_label" %>
    <%= f.email_field :email, value: "#{@email}" %>
  </div>
  <div class="field">
    <%= f.label :how_many?, class: "field_label" %>
    <%= f.select :quantity, (1..10) %>
  </div>
  <div>
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
  </div>
  <div class="action">
   <%= f.submit :send %>
 </div>
<% end %>