<h1>Book Overload</h1>
<p>Get a selection of random books from your Goodreads to-read shelf sent to your email.<p>

<%= form_for @request do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
     <h2><%= pluralize(@request.errors.count, "error") %> prohibited this feedback from being saved:</h2>
     <ul>
     <% @request.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
     </ul>
   </div>
 <% end %>

  <div class="field">
    <%= f.label :id, 'Goodreads id', class: "field_label" %>
    <i id="goodreads-id-tooltip" class="fa fa-question-circle" aria-hidden="true"
    title="Your goodreads id is the numbers in the url of your goodreads profile."></i>
    <br>
    <%= f.text_field :id, value: "#{@id}" %>
  </div>
  <div class="field">
    <%= f.label :email, class: "field_label" %>
    <i id="email-tooltip" class="fa fa-question-circle" aria-hidden="true" title="I don't store or give away your email."></i>
    <br>
    <%= f.email_field :email, value: "#{@email}" %>
  </div>
  <div class="field">
    <%= f.label :how_many?, class: "field_label" %>
    <br>
    <%= f.select :quantity, (1..10), :selected => 5 %>
  </div>
  <div>
    <%= f.label :remember_me %>
    <br>
    <%= f.check_box :remember_me %>
  </div>
  <div class="action">
    <%= f.submit :send %>
  </div>

<% end %>