<%= form_for @request do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
     <h2><%= pluralize(@request.errors.count, "error") %> prohibited this feedback from being saved:</h2>
     <ul>
     <% @request.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
     </ul>
   </div>
 <% end %>

  <div class="field">
    <%= f.label :id, 'Goodreads id' %>
    <%= f.text_field :id, value: "#{@id}" %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, value: "#{@email}" %>
  </div>
  <div class="field">
    <%= f.label :quantity %>
    <%= f.select :quantity, (1..10) %>
  </div>
  <div>
    <%= f.label :remember_me %>
    <%= f.check_box :remember_me %>
  </div>
  <div class="action">
   <%= f.submit :send %>
 </div>
<% end %>