<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1>Information courtesy of <%= link_to 'goodreads', 'www.goodreads.com' %></h1>
    <ul>
      <% @books.each do |book| %>
        <li>
          <figure>
            <%= image_tag book[:image], alt: "#{book[:title]} by #{book[:name]}" %>
            <figcaption><i><%= book[:title] %></i> by <%= book[:name] %></figcaption>
            <%= link_to 'Goodreads page', book[:link] %>
          </figure>
        </li>
      <% end %>
    </ul>
    <h3><%= link_to 'Book Overload', root_url %></h3>
  </body>
</html>